  /* Formulario de Contacto - Estilo Juvenil */
  .contact-form-container {
    width: 85%;
    margin: 30px auto;
    margin-left: calc(100px + (15% / 2));
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px; /* Aumentar el padding para más espacio */
    border-radius: 16px; /* Bordes más redondeados */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    text-align: center;
}
.contact-form-container h2 {
    margin-bottom: 30px;
    color: #e67e22; /* Usar el color principal de los títulos */
    font-size: 2em; /* Título más grande */
    font-weight: 700; /* Título en negrita */
}
.form-group {
    margin-bottom: 25px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500; /* Ligeramente más ligero que el negrita total */
    color: #555;
    font-size: 1.1em;
}
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group textarea {
    width: calc(100% - 16px); /* Ajustar el ancho considerando el padding */
    padding: 12px;
    border: 2px solid #ddd; /* Borde más grueso */
    border-radius: 8px; /* Bordes más redondeados */
    font-size: 1em;
    transition: border-color 0.3s ease; /* Transición suave para el hover */
}
.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #3498db; /* Color de foco moderno */
}
.form-group textarea {
    resize: vertical;
    min-height: 100px; /* Altura mínima para el textarea */
}
.contact-form-container button[type="submit"] {
    background-color: #3498db; /* Un color más juvenil para el botón */
    color: white;
    padding: 14px 30px; /* Botón más grande */
    border: none;
    border-radius: 10px; /* Bordes más redondeados */
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 600; /* Texto del botón ligeramente en negrita */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Transiciones para el hover */
}
.contact-form-container button[type="submit"]:hover {
    background-color: #2980b9; /* Oscurecer al hacer hover */
    transform: scale(1.05); /* Ligeramente más grande al hacer hover */
        }